<form #updatereview="ngForm" (ngSubmit) = "updateReview()">
    <div class="container addcar" style="background-color: rgba(0, 0, 0, 0.884);">
      <h3 class="addcar-heading">Add New Review</h3>
      <div class="row addcar-form">
        <div class="col-md-2">
          <label>Name</label>
        </div>
        <div class="col-md-10">
          <div class="form-group">
            <input type="text" name="name" [(ngModel)]= "reviewItem.name" id="title" class="form-control"  placeholder="Name of the review*"  style=" color: blanchedalmond;"required>
            <span id="error1" style="color: red;font-size: 13px;"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label>Type</label>
        </div>
        <div class="col-md-10">
          <div class="form-group">
            <input type="text" name="description" [(ngModel)]= "reviewItem.description"  id="name" class="form-control" placeholder="Description of Review* (eg: American review)"  style=" color: blanchedalmond;" required>
            <span id="error2" style="color: red;font-size: 13px;"></span>
          </div>
        </div>
        <div class="col-md-2">
          <label>Genres</label>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <input type="text" name="genre" [(ngModel)]= "reviewItem.genre"  class="form-control" placeholder="Enter the genres of the car*"  style=" color: blanchedalmond;" required>
                <span id="error3" style="color: red;font-size: 13px;"></span>
            </div>
        </div>
               
        <div class="col-md-2">
          <label>Details</label>
        </div>
        <div class="col-md-10">
           <textarea class="form-control z-depth-1"  name="about" [(ngModel)]= "reviewItem.about" style=" color: blanchedalmond;" id="exampleFormControlTextarea6" rows="3" placeholder="About the review*" required></textarea>
        </div>
        
        <!-- <label>Choose an image of review </label> <br>
        <textarea class="form-control z-depth-1"  name="image" [(ngModel)]= "reviewItem.image" style=" color: blanchedalmond;" id="exampleFormControlTextarea6" rows="2" placeholder="Copy and paste the image address here*" required></textarea> -->
          
          <!-- <img id="preview" src="/images/carplaceholder.jpg" onclick="show()" style="cursor: pointer;"> -->
         
          <input type="submit" [disabled]="updatereview.invalid" class="btnnewcar" value="Save">
        </div>   
   
    </div>
  </form>
